body {
  background-color: #D6E0F6;
  color: #222130;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link {
    color: blue;
}

a:hover {
  color: #FF0D28;
}

a:active {
  color: #E80C93;
}

a:visited {
  color: #9E0CE8;
}
article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

h1 {
	font-size: 2em;
  line-height: 2;
}

h3 {
	font-size: 1.2em;
  line-height: 1.2;
}

figcaption {
	font-size: .8em;
}

.story-text {
  line-height: 1.2;
}
